.container {

}


body {
    padding-bottom: 100px;
    margin: 0% 0%;
    text-align: center;
}

table {
    width: 100%;
}

#header {
    text-align: center;
    border: black solid 1px;
    padding-top: 100px;
    padding-bottom: 100px;
}

a {
    color: black;
}

/*#aboutTitle {*/
/*border: black solid 1px;*/
/*padding-top: 100px;*/
/*}*/

/*#image1 {*/
/*margin-left: 0px;*/
/*border: black solid 1px;*/
/*padding: 0px;*/
/*}*/

#id-img1 {
    width: 300px;
}

#id-img2 {
    width: 300px;
}